[Desktop Entry]
Name=ip2e (daemon)
GenericName=ip2e (daemon)
X-GNOME-FullName=ip2e (daemon)
Comment=Receive your public IP by email when it is renewed
Exec=ip2e-daemon.py
Icon=/usr/share/icons/ip2e.png
Terminal=true
Type=Application
StartupNotify=true
Categories=Network;FileTransfer;
